* {
    font-family: Urbanist;
}

body {
    display: grid;
    grid-template-areas:
        "nav header"
        "nav article"
        "nav footer";
    grid-template-rows: 80px 1fr 80px;  
    grid-template-columns: 20% 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
    background-color: #E6F2F2;
    
}

img{
    max-width: fit-content;
}

footer, article, nav, div {
    padding: 1.2em;
}

header{
    padding-top: 3em;
}

header{
    display: flex;
    align-items: center;
    padding-left: 1em;
}

header input{
    border-radius: 76px;
    background: #F6F7FB;
    box-shadow: 0px 62px 85px -22px rgba(175, 175, 175, 0.14), 0px 0px 19px 1px rgba(204, 204, 204, 0.15);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.08);
    border: none;
    width: 25rem;
    height: 2rem;
    

}

header input::placeholder{
    background-image: url("https://img.icons8.com/ios-glyphs/30/000000/search--v1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 5px 50%;
    padding-left: 23px;
    flex-shrink: 0;

    color: rgba(49, 49, 49, 0.35); /* Set text color with opacity */
    /* Menu/Menu Text */
    font-family: Urbanist, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 87.5% */
}

.headerWrapper{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    gap: 2em;
}
.headerWrapper label{
    color: var(--secondary-color-secondary-color, #313131);
    text-align: center;
    font-family: 'Urbanist', sans-serif; /* Use the font-family with a fallback */
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

nav{
    background: #FFF;
    box-shadow: 23px 0px 14px -18px rgba(0, 0, 0, 0.07);
    text-align: center;

}

nav img{
    width: 100%;
    height: auto;
}

.navWrapper{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0em;
    padding-top: 2em;

}

.navBtn{
    display: flex;
    flex-direction: column;
}

.navBtn form button{
    width: 100%;
    background-color: transparent;
}

.navBtn a, .navBtn form button{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: start;
    align-items: center;
    text-decoration: none;

    color: rgba(49, 49, 49, 0.60); /* Set text color with opacity */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px; /* 87.5% */

    padding: 5px 25px; /* Adjust padding as needed */
    border-radius: 30px; /* Set border-radius for a circular background */
    border: #313131 0px solid;
    transition: color 0.4s;
    z-index: 1;
    position: relative;
    
}
.navBtn:not(.active) a::before, .navBtn:not(.active) form button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0EA6FA;
    border-radius: 30px; /* Set border-radius for a circular background */
    z-index: -1;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    transform-origin: 0 0;
}

.navBtn:not(.active) a:hover::before, .navBtn:not(.active) form button:hover::before{
    transform: scaleX(1);
}


.navBtn a:hover, .navBtn form button:hover{
    color: #FFF;
}

.navBtn a:hover svg , .navBtn form button:hover svg{
    fill: #FFF;
}

.navBtn.active a, .navBtn.active form button{
    background-color: #0EA6FA;
    color: #FFF;
    opacity: 1;
}

.library-header {
    text-align: center;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 24px;
    margin-bottom: 20px;
    border-radius: 20px;
    max-width: 100%;
}

.books-container {
    display: flex;
    flex-wrap: wrap; /* Add this to allow items to wrap to the next line */
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    align-items: flex-start; /* Align items to the start of the cross axis */
    max-width: fit-content;
}

.book {
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    /* Set the width and height to fit the images. */
    /* Adjust these values based on the actual size of your images */
    width: 200px; /* Example width - adjust as necessary */
    height: auto; /* Height is auto to maintain the aspect ratio */
    position: relative;
}

.book-cover {
    width: 100%;
    height: 300px;
    object-fit: cover; /* This will cover the area of .book div without stretching */
    display: block; /* Remove space below the image */
}

.book-info {
    display: none;
    position: fixed; /* Fixed to the viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100; /* Make sure it's on top of other content */
    width: 80%; /* You can adjust this as you like */
    max-width: 500px; /* Maximum width */
    border-radius: 4px;
    box-sizing: border-box;
    filter: none; /* This ensures that the book-info is not affected by the blur */
}

/* Blur the background when a book is active */
.blur-background {
    filter: blur(5px);
}

/* Make sure book covers are not blurred */
.book.active .book-cover {
    filter: none;
}

.books-container.blur-effect .book-cover {
    filter: blur(5px);
}

/* This ensures that when active, the book info is above the blurred content */
.book.active .book-info {
    display: block;
    position: fixed; /* Fixed position to the viewport */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 101; /* Even higher to ensure it's above the blur */
}

.delete-btn {
    padding: 8px 16px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; /* Add some space above the delete button */
}

.delete-btn:hover {
    background-color: darkred;
}

button[id="add-book-btn"] {
    border-radius: 1em;
    border: 0em solid;
    background-color: #FFA500;
    color: #FFF;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    padding: 1em;
}

.postForm input[type="text"], .postForm textarea, .postForm input[type="number"]{
    border-radius: 1em;
    border: 0em solid;
    background-color: #FFF;
    width: 70%;
    height: 2em;
    padding: 1em;
}

.Btn {
    border-radius: 1em;
    border: 0em solid;
    color: #FFF;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    padding: 1em;
}

.postForm form{
    display: flex;
    flex-direction: column;
}

.postBtn{
    background-color: #FFA500;
}

.cancelBtn{
    background-color: #FF0000;
}

.deleteBtn{
    background-color: #FF0000;
}

.postWrapper{
    color: #313131;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;

    display: flex;
    flex-direction: row;

    gap: 1em;
}

.Btn{
    border-radius: 1em;
    border: 0em solid;

    color: #FFF;

    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px; /* 87.5% */
    padding: 1em;
}
.library-header{
    color: #313131;
}


.postBtn{
    background-color: #FFA500;
}

.cancelBtn{
    background-color: #FF0000;
}

.deleteBtn{
    background-color: #FF0000;
}

.BtnPostWrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
}

.newPostContainer{
    display: flex;
    justify-content: center;
    padding: 0em;
}

button[id="newPostBtn"]{
    border-radius: 1em;
    border: 0em solid;
    background-color: #FFA500;

    color: #FFF;

    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px; /* 87.5% */
    padding: 1em;
}


#pageHeader {
grid-area: header;
}
#pageFooter {
grid-area: footer;
background-color: transparent;
}
#mainArticle { 
grid-area: article;      
}

#mainNav { 
grid-area: nav;
}

#content {
    grid-area: article;
    overflow-y: auto; /* Enables vertical scrolling */
    padding: 1.2em;
    /* set a max height if you want the container to have a specific height */
    /* otherwise, it will take the remaining height from the grid */
}

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
    body { 
        grid-template-areas: 
        "header"
        "article"
        "nav"
        "footer";
        grid-template-rows: 80px 1fr 70px 70px;  
        grid-template-columns: 1fr;
    }
}

