<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
  </head>
  <body>
    <link rel="stylesheet" href="/static/mainstyle.css" />
    <div>
      <link href="/static/index.css" rel="stylesheet" />

      <div class="homepage-container">
        <div class="homepage-homepage">
          <div class="homepage-contentwrapper">
            <div class="homepage-maincontent">
              <div class="homepage-banner-showcase">
                <div class="homepage-image-container">
                  <img
                    src="/static/external/glasgow12383-c3k-500h.png"
                    alt="glasgow12383"
                    class="homepage-glasgow1"
                  />
                </div>
              </div>
              <div class="homepage-headline">
                <div class="homepage-text">
                  <div class="homepage-text01">
                    <div class="homepage-tag">
                      <span class="homepage-text02"><span>#SE</span></span>
                    </div>
                    <span class="homepage-text04">
                      <span class="homepage-text05">
                        Study software engineering at
                      </span>
                      <span>KMITL</span>
                    </span>
                  </div>
                  <span class="homepage-text07 TextBodyText">
                    <span>
                      Discover a world of knowledge at your fingertips and
                      embark on a transformative journey like never before.
                    </span>
                  </span>
                </div>
                <button class="homepage-primary-button"></button>
                <button class="homepage-button">
                  <span class="homepage-text09 ButtonTextPrimaryButtonText">
                    <span>Explore Course</span>
                  </span>
                </button>
                <button class="homepage-button1">
                  <span class="homepage-text11 ButtonTextSecondaryButtonText">
                    <span>Contact Us</span>
                  </span>
                </button>
              </div>
            </div>
            <div class="homepage-header">
              <div class="homepage-frame1">
                <div class="homepage-logo-menu-action">
                  <div class="homepage-logo-menu">
                    <div class="homepage-logo">
                      <img
                        src="/static/external/se12312-icd-200h.png"
                        alt="se12312"
                        class="homepage-se1"
                      />
                      <span class="homepage-text13">
                        <span>Software Engineering Program</span>
                      </span>
                    </div>
                    <div class="homepage-menu">
                      <span class="homepage-text15"><span>Home</span></span>
                      <span class="homepage-text17 MenuMenuText">
                        <span>About</span>
                      </span>
                      <span class="homepage-text19 MenuMenuText">
                        <span>Program</span>
                      </span>
                      <span class="homepage-text21 MenuMenuText">
                        <span>Admission</span>
                      </span>
                      <span class="homepage-text23 MenuMenuText">
                        <span>Industry</span>
                      </span>
                      <span class="homepage-text25 MenuMenuText">
                        <span>News</span>
                      </span>
                      <span class="homepage-text27 MenuMenuText">
                        <span>Event</span>
                      </span>
                    </div>
                  </div>
                  <div class="homepage-search-bar-icon">
                    <div class="homepage-search">
                      <div class="homepage-icon">
                        <div class="homepage-vuesaxlinearsearchnormal">
                          <div class="homepage-searchnormal">
                            <img
                              src="/static/external/vectori231-8g0p.svg"
                              alt="VectorI231"
                              class="homepage-vector"
                            />
                            <img
                              src="/static/external/vectori231-kprq.svg"
                              alt="VectorI231"
                              class="homepage-vector1"
                            />
                            <img
                              src="."
                              alt="VectorI231"
                              class="homepage-vector2"
                            />
                          </div>
                        </div>
                      </div>
                      <span class="homepage-text29 MenuMenuText">
                        <span>Search</span>
                      </span>
                    </div>
                    <div class="homepage-icon1">
                      <div class="homepage-icon2">
                        <div class="homepage-vuesaxlinearuser">
                          <div class="homepage-user">
                            <img
                              src="/static/external/vectori231-29w6.svg"
                              alt="VectorI231"
                              class="homepage-vector3"
                            />
                            <img
                              src="/static/external/vectori231-2n4.svg"
                              alt="VectorI231"
                              class="homepage-vector4"
                            />
                            <a href="/userlogin">
                            <img
                              src="."
                              alt="VectorI231"
                              class="homepage-vector5"
                            />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
