<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SE Blog</title>
    <link rel="stylesheet" href="static/css/grade.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap">
    

</head>
<body>
  <header id="pageHeader">
    <input type="text" placeholder="Search">
    <div class="headerWrapper">
    <a href="https://www.google.com/"><img src="static/pic/bell.png" style="fill: #FFF; filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.15));"></a>
    <a href="https://www.google.com/"><img src="static/pic/msg.png" style="fill: #FFF; filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.15));"></a>
    <a href="https://www.google.com/"><img src="static/pic/user.png"></a>
    <label>{{ username }}</label>
    </div>
  </header>
  <article id="content">
    <div>
        <form method="post" action="/submit-grades"> <!-- Assuming you have a route to handle grade submission -->
            <h1>Assign Grade</h1>
            <h3>Subject: {{ subject }}</h3>
              <table>
                  <thead>
                    <tr>
                      <th>Student Name</th>
                      <th>Total score 100%</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for student in students %}
                    <tr>
                      <td>ID:{{ student.username }} Mr. {{ student.firstname }} {{ student.lastname }}</td>
                      <td><input type="number" name="scores" min="0" max="100"></td>
                      <input type="hidden" name="student_usernames" value="{{ student.username }}">
                    </tr>
                    {% endfor %}
                    <!-- Add more rows for other students if needed -->
                  </tbody>
                </table>
                <button type="submit">Submit Grades</button>
          </form>
          <form method="get" action="/main-menu" style="display:inline;">
            <button type="submit">Menu</button>
          </form>
    </div>
  </article>
  <nav id="mainNav">
    <form method="get" action="/home">
        <button type="submit" id="logoBtn" style="background-color: transparent; border: 0em">
            <img src="static/pic/se2.png">
        </button>
    </form>
    <div class="navWrapper">
        <div class="navBtn">
            <!-- <a id="dashBoardBtn" href="http://localhost:8000/dashboard"><img src="static/pic/dash.svg">Dashboard</a> -->
            <form method="get" action="/main-menu">
                <button type="submit" id="dashBoardBtn">
                    <img src="static/pic/dash.svg" style="opacity: 0.60;"><div>Dashboard</div>
                </button>
            </form>
        </div>
        <div class="navBtn">
            <!-- <a id="coursesBtn" href="http://localhost:8000/courses"><img src="static/pic/book.svg" style="opacity: 0.60;">Courses</a> -->
            <form method="get" action="/courses">
                <button type="submit" id="coursesBtn">
                    <img src="static/pic/book.svg" style="opacity: 0.60;"><div>Courses</div>
                </button>
            </form>
        </div>
        <div class="navBtn active">
            <!-- <a id="gradeBtn" href="http://localhost:8000/grades"><img src="static/pic/award.svg" style="opacity: 0.60;">Grades</a> -->
            <form method="get" action="/assign-grade">
                <button type="submit" id="gradeBtn">
                    <img src="static/pic/award.svg" style="opacity: 0.60;"><div>Grades</div>
                </button>
            </form>
        
          </div>
        <div class="navBtn">
            <!-- <a id="newsBtn" href="http://localhost:8000/news"><img src="static/pic/news.svg" style="opacity: 0.60;">News</a> -->
            <form method="get" action="/news">
                <button type="submit" id="newsBtn">
                    <img src="static/pic/news.svg" style="opacity: 0.60;"><div>News</div>
                </button>
            </form>
        </div>
        <div class="navBtn">
          <form method="get" action="/se-blog">
              <button type="submit" id="blogBtn">
                  <img src="static/pic/edit.svg" style="opacity: 0.60;"><div>Blog</div>
              </button>
          </form>
        </div>      
        <div class="navBtn">
            <!-- <a id="questionBtn" href="http://localhost:8000/question"><img src="static/pic/questionmarks.svg" style="opacity: 0.60;">Questions</a> -->
            <form method="get" action="/library">
                <button type="submit" id="questionBtn">
                    <img src="static/pic/questionmarks.svg" style="opacity: 0.60;"><div>Library</div>
                </button>
            </form>
        </div>
        <div class="navBtn">
            <!-- <a id="settingBtn" href="http://localhost:8000/setting"><img src="static/pic/setting.svg" style="opacity: 0.60;">Settings</a> -->
            <form method="get" action="/room-reservation">
                <button type="submit" id="settingBtn">
                    <img src="static/pic/setting.svg" style="opacity: 0.60;"><div>Settings</div>
                </button>
            </form>
        </div>
    </div>
    </nav>
  <footer id="pageFooter">
  </footer>
</body>
</html>
