<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Urbanist">
    <!-- icon pictures -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- css -->
    <link rel="stylesheet" href="static/css/se.css">
    <script>

    </script>
  </head>
  <body>
    <div id="wrapper">
        <div id="sideBar" class="sideBar">
            <div class="sideBarBox">
                <div class= "sideBarButton">
                    <button onclick="myFunction()"><h1><i class="bi bi-x-lg"></i></h1></button>
                </div>
                <div style="margin-left: 90px;">
                    <a style="margin-bottom: 20px;" href=""><h1 style="margin-top: 40px;color: #313131;font-weight: bold;"><i class="bi bi-house-door" style="margin-right:15px;"></i>Home</h1></a>
                    <a style="margin-bottom: 20px;" href=""><h1 style="margin-top: 40px;color: #313131;"><i class="bi bi-info-circle" style="margin-right:15px;"></i>About</h1></a>
                    <a style="margin-bottom: 20px;" href=""><h1 style="margin-top: 40px;color: #313131;"><i class="bi bi-grid" style="margin-right:15px;"></i>Program</h1></a>
                    <a style="margin-bottom: 20px;" href=""><h1 style="margin-top: 40px;color: #313131;"><i class="bi bi-calendar-check" style="margin-right:15px;"></i>Admission</h1></a>
                    <a style="margin-bottom: 20px;" href=""><h1 style="margin-top: 40px;color: #313131;"><i class="bi bi-file-bar-graph" style="margin-right:15px;"></i>Industry</h1></a>
                    <a style="margin-bottom: 20px;" href=""><h1 style="margin-top: 40px;color: #313131;"><i class="bi bi-chat-left-text" style="margin-right:15px;"></i>News</h1></a>
                    <a style="margin-bottom: 20px;" href=""><h1 style="margin-top: 40px;color: #313131;"><i class="bi bi-postcard-heart" style="margin-right:15px;"></i>Event</h1></a>
                </div>
            </div>
            <div onclick="myFunction()" style="width: 60%;background-color: #3131314c;"></div>
        </div>

        <div id="navbar-pc" class="navbar-pc">
            <div class="logo"><img src="static/pic/logo.jpg" alt="logo"></div>
            <div class="title"><a href="#"><h6 style="font-weight: bold!important;">Software Engineering Program</h6></a></div>
            <div class="nav-links"><a href="#"><h6 style="font-weight: bold!important;">Home</h6></a></div>
            <div class="nav-links"><a href="#"><h6>About</h6></a></div>
            <div class="nav-links"><a href="#"><h6>Program</h6></a></div>
            <div class="nav-links"><a href="#"><h6>Admission</h6></a></div>
            <div class="nav-links"><a href="#"><h6>Industry</h6></a></div>
            <div class="nav-links"><a href="#"><h6>News</h6></a></div>
            <div class="nav-links">
                <input type="search" name="search" id="search" placeholder="Search">
            </div>
            <div class="login-pic"><a href="/login"><h6><i class="bi bi-person"></i></h6></a></div>
            <div class="menu-hambutger"><a onclick="myFunction()" href="#"><h1><i class="bi bi-list"></i></h1></a></div>
        </div>

        <div class="contents">
            <div class="main-contentContainer">
                <div class="main-contentWrapper"> 
                    <div class="hashTag"><h6>#SE</h6></div>
                    <div>
                        <h1>Study software</h1>
                        <h1>engineering at</h1>
                        <h1 style="color: #20776E;">KMITL</h1>
                    </div>
                    
                    <br>
                    <div style="color: #313131a9;">
                        <h6>Discover a world of knowledge at your fingertips and embark on a</h6>
                        <h6>transformative journey like never before. </h6>
                    </div>
                    
                    <br><br>
                    <div class="buttonContainer">
                        <button type="button">Explore Course</button>
                        <a href="" >Contact Us</a>
                    </div>
                </div>
                
                <div><img class="pic"src="static/pic/home1.jpg" alt="" style="width: 400px;"></div>
            </div>

            <div class="newsFeedContainer">
                <div class="newsPicWrapper"> 
                    <img class="pic" src="static/pic/home2.jpg" alt="">
                    <br><br>
                    <h6>K-Engineering world tour and workshop 2022</h6>
                </div>
                
                <div class="newsDesWrapper">
                    <div>
                        <h1>Latest News</h1>
                    </div>
                    <br>
                    <div style="color: #313131a9;">
                        <h6>Get to know us little bit more and why our platform is</h6>
                        <h6>your best choice to grow your skill.</h6>
                    </div>
                </div>
            </div>

    
<!-- 
            <div style="text-align: center;margin-top: 120px;">
                <h6 style="color: #20776E;font-weight: bold!important;">Top Subject</h6>
                <h1>Explore our top online course subject</h1>
                <h6 style="color: #313131a9;">Get the most exciting course from around the world to learn and</h6>
                <h6 style="color: #313131a9;">grow your career fast with your favorite mentor.</h6>
            </div>

            <div style="display: flex;margin-top: 50px;">
                <div style="border: solid 1px #20776E;color: white;;background-color: #20776E;border-radius: 1em;padding: 5px 20px;margin-right: auto;"><h6 style="margin: 0;">Featured</h6></div>
                <div style="border: solid 1px #20776E;border-radius: 1em;padding: 5px 20px;margin: 0 auto;"><h6 style="margin: 0;">Music</h6></div>
                <div style="border: solid 1px #20776E;border-radius: 1em;padding: 5px 20px;margin: 0 auto;"><h6 style="margin: 0;">Drawing & Painting</h6></div>
                <div style="border: solid 1px #20776E;border-radius: 1em;padding: 5px 20px;margin: 0 auto;"><h6 style="margin: 0;">Marketing</h6></div>
                <div style="border: solid 1px #20776E;border-radius: 1em;padding: 5px 20px;margin: 0 auto;"><h6 style="margin: 0;">Animation</h6></div>
                <div style="border: solid 1px #20776E;border-radius: 1em;padding: 5px 20px;margin: 0 auto;"><h6 style="margin: 0;">UI/UX Design</h6></div>
                <div style="border: solid 1px #20776E;border-radius: 1em;padding: 5px 20px;margin: 0 auto;"><h6 style="margin: 0;">Copy Writing</h6></div>
                <div style="color :#20776E;padding: 5px 0;margin: 0;margin-left: auto;">
                    <h5 style="margin: 0;">
                        <i class="bi bi-arrow-right"></i>
                    </h5>
                </div>
            </div>

            <div style="display: flex;margin-top: 50px;">

                <div style="width: 250px;margin: 0;margin-right: auto;">
                    <div><img src="static/pic/last1.jpg" alt="" style="width: 100%;"></div>
                    <div style="padding: 5%;margin: auto auto;background-color: white;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;border-radius:0 0 15px 15px;">
                        <p style="font-size: 14px;margin: 10px 0;color: #313131a9;">Valerie Morehouse</p>
                        <h6 style="font-weight: 500!important;">Singing Like a Star: 5 Steps to Discover Your Voice</h6>
                        <div style="display: flex;color: #313131a9;margin: 15px 0;">
                            <h6 style="margin-right: auto;">7,013 students</h6>
                            <h6>1h 18m</h6>
                        </div>
                    </div>
                </div>
                <div style="width: 250px;margin: 0 auto;">
                    <div><img src="static/pic/last2.jpg" alt="" style="width: 100%;"></div>
                    <div style="padding: 5%;margin: auto auto;background-color: white;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;border-radius:0 0 15px 15px;">
                        <p style="font-size: 14px;margin: 10px 0;color: #313131a9;">Cinthya Mohr</p>
                        <h6 style="font-weight: 500!important;">Intro to UX: Designing with a User Central Approach</h6>
                        <div style="display: flex;color: #313131a9;margin: 15px 0;">
                            <h6 style="margin-right: auto;">18,977 students</h6>
                            <h6>44m</h6>
                        </div>
                    </div>
                </div>
                <div style="width: 250px;margin: 0 auto;">
                    <div><img src="static/pic/last3.jpg" alt="" style="width: 100%;"></div>
                    <div style="padding: 5%;margin: auto auto;background-color: white;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;border-radius:0 0 15px 15px;">
                        <p style="font-size: 14px;margin: 10px 0;color: #313131a9;">Patricia Reiners</p>
                        <h6 style="font-weight: 500!important;">UX/UI Portfolio: Designing Amazing Case Studies</h6>
                        <div style="display: flex;color: #313131a9;margin: 15px 0;">
                            <h6 style="margin-right: auto;">5,484 students</h6>
                            <h6>2h 41m</h6>
                        </div>
                    </div>
                </div>
                <div style="width: 250px;margin: 0;margin-left: auto;">
                    <div><img src="static/pic/last4.jpg" alt="" style="width: 100%;"></div>
                    <div style="padding: 5%;margin: auto auto;background-color: white;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;border-radius:0 0 15px 15px;">
                        <p style="font-size: 14px;margin: 10px 0;color: #313131a9;">Valerie Morehouse</p>
                        <h6 style="font-weight: 500!important;">Logo Design Basic: Develop a Memorable Brand Identity</h6>
                        <div style="display: flex;color: #313131a9;margin: 15px 0;">
                            <h6 style="margin-right: auto;">7,013 students</h6>
                            <h6>1h 18m</h6>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div> -->
    
    

<br><br><br><br><br>
<script src="static/js/home.js"></script>
  </body>
</html>